p {
font-family: "Bad Script", sans-serif;
font-weight: 300;
font-size: 50px;
}
body{
  background-color: #DEF7FE;
}
i {
font-family: "Bad Script", sans-serif;
font-weight: 300;
font-size: 25px;
}